body{
	padding: 0px;
	margin: 0px;
}

nav{
	height: 48px;
	background-color: #4F4D53;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 100px ;
	color: #4F4D53;
	margin: auto;
	padding-top: 168px;
}

h2{ 
	font-family: 'Roboto', sans-serif;
font-weight: 900;
font-size: 64px;
color: #E8BE02;
margin: auto;
text-align: center;

}
h3{
	font-family: 'Roboto', sans-serif;
font-weight: 900;
font-size: 20px;
color: #E8BE02;
margin: auto;
}
h4{ 
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #FFFFFF;
	margin: auto;
}
p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400; 
	font-size:20px;
	color: #4F4D53;
	text-align: center;
}

.band{
	background-color: #E8BE02;
	height: 12px;
	    margin-top: 100px;
}

#logo{
	padding-top: 12px;
}


.container{
	max-width: 900px;
	margin: auto;
}

.hero{
	background-image: url("media/img_hero.jpg");
    background-color: yellow;
    min-height: 500px;
     background-position: right; 
}

.circles{
	position: relative;
	top: -100px;
}

.circles img{
	width: 200px;
	display: inline-block;
	padding: 0 40px 0 40px;
}

footer{
	height: 320px;
	background-color:  #4F4D53;
	padding-top: 40px;
}

footer ul{
	margin: auto;
	width: 20%;
	display: inline-block;
	list-style: none;
	color: white;

}

footer ul li:first-child{
	color: #E8BE02;
	padding-bottom: 15px;
}