
body {
  padding: 0;
      background-image: url(https://sysomos.com/wp-content/uploads/2017/03/Home_Page_CTA_optimized.jpg);
    background-color: transparent;
}



li a{
    font-family: sans-serif;
    font-size: 18px !important;
    color: #fff !important;
    background-color: #32abf1;
    padding: 5px 25px;
    border-radius: 25px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #32abf1;
    cursor: pointer;
}

ul  {
    width: 300px;
    /* text-align: left; */
    list-style: none;
    font-size: 24px;
    margin: auto;
}


textarea{
  font-size: 20px;
    background: none;
    border: 2px solid white;
    color: white;
    padding: 20px;
}

/* Main marketing message and sign up button */
.jumbotron {
  background: none;
  text-align: center;
}

.footer{
  text-align: center;
}

.footer a{
  color: white;
}