<div class="jumbotron">
  <form name="autocompleteForm">
    <textarea id="textarea" rows="4" cols="50" ng-model="userInput" ng-change="onChange()">
    </textarea>
    <div ng-show="showChoices">
      <ul>
        <li ng-repeat="choice in choices | filter:toComplete:customComparator as results"><a ng-click="select(choice)">{{choice}}</a></li>
      </ul>
    </div>
  </form>
</div>